<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tech.kjpc.monitorapp">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service
            android:name=".MONITorCheckerService"
            android:enabled="true"
            android:permission="android.permission.BIND_JOB_SERVICE"/>

        <receiver
            android:name=".MONITorBroadcastReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".MONITorAlarmReceiver"
            android:enabled="true" />

        <activity android:name=".MONITorMainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MONITorWebViewActivity"
            android:label="@string/activity_monitor_webview_title"
            android:parentActivityName=".MONITorMainActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".MONITorHelpActivity"
            android:label="@string/activity_monitor_help_title"
            android:parentActivityName=".MONITorMainActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".MONITorSettingsActivity"
            android:label="@string/activity_monitor_settings_title"
            android:parentActivityName=".MONITorMainActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".MONITorAboutActivity"
            android:label="@string/activity_monitor_about_title"
            android:parentActivityName=".MONITorMainActivity"
            android:theme="@style/AppTheme" />
    </application>

</manifest>